body {
	margin: 0;
	padding: 0;
	background-color: black;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.img1000 {
	background-image: url('./images/zelda1000.jpg');
	background-repeat: no-repeat;
	/* padding-left: 25%; */
	width: 1000px;
	height: 800px;
}
